<?xml version="1.0" encoding="uTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.AdministratorMapper">
    <select id="adminLogin" parameterType="map" resultType="Administrator">
        select * from administrator where adminName = #{adminName} and adminPassword = #{adminPassword}
    </select>

    <insert id="adminRegister" parameterType="map">
        insert into administrator values (null,#{adminName},#{adminPassword},null)
    </insert>

    <select id="adminNameCheck" parameterType="java.lang.String" resultType="java.lang.String">
        select adminName from administrator where adminName = #{adminName}
    </select>

</mapper>

