<?xml version="1.0" encoding="uTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.NewsManageMapper">
    <insert id="newsUp" parameterType="News" >
        insert into news values (#{time},#{type},#{titlt},#{content})
    </insert>
    <select id="newsShow" resultType="News" parameterType="map">
      select * from newslist LIMIT #{page},#{limit}
    </select>
    <select id="newsCount" resultType="int">
        select count(*) from newslist
    </select>
</mapper>
